
.idea/libraries/android_android_25.xml
.idea/libraries/android_android_25.xml
.idea/vcs.xml
.idea/libraries/android_android_25.xml
app/src/main/res/drawable-nodpi/grassbg1_new.png
.idea/libraries/android_android_25.xml
app/src/main/res/drawable-nodpi/grassbg1_new.png
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.idea/libraries/animated_vector_drawable_25_3_1.xml
.idea/libraries/appcompat_v7_25_3_1.xml
build/android-profile/profile-2017-05-23-23-50-24-034.rawproto
build/android-profile/profile-2017-05-23-23-51-43-178.rawproto
build/android-profile/profile-2017-05-23-23-52-09-149.rawproto
build/android-profile/profile-2017-05-23-23-51-46-165.rawproto
app/app.iml
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/fileHashes.bin
local.properties
build/android-profile/profile-2017-05-23-23-59-20-769.rawproto
local.properties
build/android-profile/profile-2017-05-24-00-01-15-822.rawproto
build/android-profile/profile-2017-05-24-00-01-49-772.rawproto
build/android-profile/profile-2017-05-24-00-02-58-937.rawproto
build/android-profile/profile-2017-05-24-00-03-57-510.rawproto
.idea/libraries/android_android_25.xml
build/android-profile/profile-2017-05-24-00-02-23-729.rawproto
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.idea/libraries/animated_vector_drawable_25_3_1.xml
.idea/libraries/appcompat_v7_25_3_1.xml
.idea/libraries/constraint_layout_1_0_0_beta5.xml
.idea/libraries/constraint_layout_solver_1_0_0_beta5.xml
.idea/libraries/espresso_core_2_2_2.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/rules_0_5.xml
.idea/libraries/runner_0_5.xml
.idea/libraries/support_annotations_25_3_1.xml
.idea/libraries/support_compat_25_3_1.xml
.idea/libraries/support_core_ui_25_3_1.xml
.idea/libraries/support_core_utils_25_3_1.xml
.idea/libraries/support_media_compat_25_3_1.xml
.idea/libraries/support_fragment_25_3_1.xml
.idea/libraries/support_v4_25_3_1.xml
.idea/libraries/support_vector_drawable_25_3_1.xml
app/app.iml
*.rawproto
build/intermediates/dex-cache/cache.xml
