.idea*
.idea/*
.gradle/
.gradle*
.gradle/*
app/app.iml
local.properties
.idea/misc.xml
*.rawproto
*.bin
*.lock
*.gradle
*.properties
*.jar
*.properties
*.iml
build.gradle
build/generated/mockable-android-25.jar
build/intermediates/dex-cache/cache.xml
local.properties
app/build/*
app/build/
